@import "tailwindcss";

@theme {
	--color-outer-space-50: #f4f6f7;
	--color-outer-space-100: #e3e8ea;
	--color-outer-space-200: #c9d3d8;
	--color-outer-space-300: #a4b4bc;
	--color-outer-space-400: #778c99;
	--color-outer-space-500: #5c717e;
	--color-outer-space-600: #4f5f6b;
	--color-outer-space-700: #44505a;
	--color-outer-space-800: #3d454d;
	--color-outer-space-900: #343a40;
	--color-outer-space-950: #21262b;
	--color-old-gold-50: #fefee5;
	--color-old-gold-100: #ffffb8;
	--color-old-gold-200: #fffd76;
	--color-old-gold-300: #fff328;
	--color-old-gold-400: #eed700;
	--color-old-gold-500: #ceb202;
	--color-old-gold-600: #b48d00;
	--color-old-gold-700: #8e6302;
	--color-old-gold-800: #754e09;
	--color-old-gold-900: #643f0d;
	--color-old-gold-950: #3b2203;
	--color-fuscous-gray-50: #f6f6f6;
	--color-fuscous-gray-100: #e7e7e7;
	--color-fuscous-gray-200: #d1d1d1;
	--color-fuscous-gray-300: #b0b0b0;
	--color-fuscous-gray-400: #888888;
	--color-fuscous-gray-500: #6d6d6d;
	--color-fuscous-gray-600: #5d5d5d;
	--color-fuscous-gray-700: #505050;
	--color-fuscous-gray-800: #454545;
	--color-fuscous-gray-900: #3d3d3d;
	--color-fuscous-gray-950: #262626;
	--color-brandy-punch-50: #fcf8ee;
	--color-brandy-punch-100: #f6eacf;
	--color-brandy-punch-200: #ecd49b;
	--color-brandy-punch-300: #e2b967;
	--color-brandy-punch-400: #dba344;
	--color-brandy-punch-500: #cf832c;
	--color-brandy-punch-600: #ba6725;
	--color-brandy-punch-700: #9b4b22;
	--color-brandy-punch-800: #7f3c21;
	--color-brandy-punch-900: #69321e;
	--color-brandy-punch-950: #3b190d;
	--color-puerto-rico-50: #f3faf8;
	--color-puerto-rico-100: #d6f1e8;
	--color-puerto-rico-200: #ade2d1;
	--color-puerto-rico-300: #7cccb6;
	--color-puerto-rico-400: #67bba6;
	--color-puerto-rico-500: #37957f;
	--color-puerto-rico-600: #297867;
	--color-puerto-rico-700: #256055;
	--color-puerto-rico-800: #214e45;
	--color-puerto-rico-900: #1f423b;
	--color-puerto-rico-950: #0d2622;
	--font-sans: "Open Sans Variable", var(--font-sans);
}

@layer base {
	html {
		font-size: 14px;
	}

	@media (min-width: 768px) {
		html {
			font-size: 16px;
		}
	}

	@media (min-width: 1024px) {
		html {
			font-size: 18px;
		}
	}
}
