---
// src/pages/battle.astro
import Battleground from '../components/battle/Battle.svelte';
---
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>Battle Mode</title>
	</head>
	<body class="bg-black">
		<Battleground client:load />
	</body>
</html>