---
import '@fontsource-variable/open-sans';

import LocationSelector from '../components/LocationSelector.svelte';
import StopList from '../components/StopList.svelte';
import ToastNotification from '../components/ToastNotification.svelte';
---

<html lang='en' class='text-[14px] md:text-[16px] lg:text-[18px]'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>MyRoute | Delivery Verification Helper</title>
	</head>
	<body>
		<div class='flex h-screen flex-col'>
			<LocationSelector client:load />
			<StopList client:load />
			<ToastNotification client:idle />
		</div>
	</body>
</html>
