---
// src/pages/index.astro
import "@fontsource-variable/open-sans";
import "../styles/global.css";
import LocationSelector from "../components/LocationSelector.svelte";
import StopList from "../components/StopList.svelte";
import ToastNotification from "../components/ToastNotification.svelte";
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>MyRoute | Delivery Verification Helper</title>
	</head>
	<body>
		<div class='flex h-screen flex-col' id='capture-target'>
			<LocationSelector client:idle />
			<StopList client:load />
			<ToastNotification client:idle />
		</div>
	</body>
</html>
