name: Deploy to GitHub Pages

on:
    # Trigger the workflow every time you push to the `main` branch
    push:
        branches: [main]
    # Allows you to run this workflow manually from the Actions tab on GitHub.
    workflow_dispatch:

# Allow this job to clone the repo and create a page deployment
permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout your repository using git
              uses: actions/checkout@v5
              # OPTIONAL: if you want VERSION to count all commits, not just shallow clone:
              # with:
              #   fetch-depth: 0

            - name: Generate Version String
              id: versioning
              run: |
                  YEAR=$(date +'%Y')
                  WEEK=$(date +'%V')
                  COMMITS=$(git rev-list --count HEAD)
                  HASH=$(git rev-parse --short HEAD)
                  VERSION="${YEAR}.${WEEK}.${COMMITS}+${HASH}"
                  echo "VERSION=$VERSION" >> $GITHUB_ENV

            - name: Create or Replace Version File
              run: |
                  echo "export const version: string = '$VERSION';" > src/version.ts

            - name: Install, build, and upload your site
              uses: withastro/action@v5
              # with:
              #   path: . # The root location of your Astro project inside the repository. (optional)
              #   node-version: 22 # Defaults to 22 if omitted.
              #   package-manager: pnpm@latest # Or npm/yarn/bun/deno, auto-detected by lockfile.
              #   build-cmd: pnpm run build # Optional custom build command.

    deploy:
        needs: build
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
